.filter-inbox .ant-collapse-header {
  flex-direction: row-reverse !important;
}

.ant-tabs-ink-bar {
  background-color: red !important;
}

.filter-modal.blur-filter {
  pointer-events: none;
  background: #ccc;
  opacity: 0.4;
}
